$view-lx-width-px: 32px;
$view-lx-width: 1200px + 2 * $view-lx-width-px;

$view-xl-width-px: 32px;
$view-xl-width: 1600px + 2 * $view-xl-width-px;

$navbar-font-size: 0.9rem;
$footer-font-size: 0.9rem;
// $footer-font-size: 14px;
