.m-home {
    &-header {
        position: relative;
        z-index: 999;
        // overflow: hidden;

        &-canvas {
            position: relative;
            width: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 100%;
            // max-height: 720px;
            // min-height: 480px;

            &-i1 {
                position: absolute;
                top: 150px;
                left: -250px;
                // background-color: #fff;
                border: 10px dashed $color-primary-red;
                width: 500px;
                height: 500px;
                border-radius: 1000px;
            }
        }

        &-window {
            position: absolute;
            top: 0;
            left: 10%;
        }

        &-title {
            font-family: 'Neue Montreal', 'Inter', sans-serif;
            font-size: 6rem;
            font-weight: 400;
            margin-top: min(10vw, 1920px * 10);
            margin-bottom: min(10vw, 1920px * 10);
            text-align: justify;
            user-select: none;

            > em {
                display: inline-block;
                position: relative;
                font-style: normal;
                z-index: 0;

                // color: $color-primary-yellow;

                &::before {
                    // display: none !important;

                    $px: 0.75rem;
                    $py: 0.3rem;

                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 5.5rem;
                    top: 1.125rem - $py - 0.25rem;
                    left: -$px;
                    padding: $py $px;
                    box-sizing: content-box;
                    border: 2px solid $color-primary-red;
                    content: '';
                    // background-color: $color-back;
                    // background: repeating-linear-gradient(
                    //     -45deg,
                    //     rgba($color-back, 0.7),
                    //     rgba($color-back, 0.7) 10px,
                    //     rgba($color-primary-red, 1) 10px,
                    //     rgba($color-primary-red, 1) 20px
                    // );
                    background-color: $color-back;
                    z-index: 2;
                }
            }
        }
    }

    &-section {
        &-title {
            display: flex;
            flex-direction: column;
            font-size: 48px;
            font-weight: 700;

            &-title {
                color: #6B6B6B;
            }

            &-sub {
                color: #fff;
            }
        }
    }

    &-portal {
        &-button {
            cursor: pointer;
            position: fixed;
            top: 24px;
            left: 24px;
            z-index: 10001;
        }

        $screen-color: rgba(#000, 0.8);

        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $screen-color;
        z-index: 10000;

        width: 600px;
        height: 600px;
        border-width: 100vh 100vw;
        border-style: solid;
        border-color: #000;
        top: -100vh;
        left: -100vw;
        cursor: none;
        box-sizing: content-box;

        background: radial-gradient(ellipse at center,  rgba(#000, 0) 0%,rgba(#000, 0) 50%, #000 60%, #000 100%);
        &-telescope {
            // &-telescope {
            //     $size: 128px;
            //     position: absolute;

            //     width: $size;
            //     height: $size;
            //     background-color: #fff;
            //     border-radius: $size/2;
            //     // mix-blend-mode: difference;

            //     transition: all 30ms;
            // }
        }
    }

    &-card {
        position: relative;
        width: 920px;
        height: 530px;
        border-radius: 8px;
        background-color: #161616;
        border: 1px solid #383838;
        margin: auto;
        cursor: pointer;

        &:hover {
            background-color: lighten(#161616, 5%);
            border: 1px solid lighten(#383838, 5%);
        }

        &-top {
            &-lhs, &-rhs {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                position: absolute;
                top: 64px;
                color: #94A3B8;
            }

            &-lhs {
                left: 64px;
            }

            &-rhs {
                right: 64px;
            }
        }

        &-emblem {
            position: absolute;
            left: 64px;
            bottom: 64px;
            color: #94A3B8 !important;

            >span {
                &::before {
                    background-color: #94A3B8;
                }
                color: #94A3B8 !important;
            }
        }
    }
}
