.m-desktoponly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-back;
    z-index: 9999999999;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: min(48px, 10vw);
    font-weight: 700;
    cursor: defualt !important;
    text-align: center;
    line-height: 1.4;

    @media only screen and (max-width: 1900px) {
        display: flex !important;
    }
}
