.fancy-cursor {
    $transition-durations: 500ms;

    $size-outer: 48px;
    $size-inner: 8px;

    &-container {
        display: block;
        pointer-events: none;
        transition: opacity $transition-durations;
    }

    &-container.cursor-hidden {
        opacity: 0;
    }

    &-container.cursor-pointer &-inner {
        opacity: 0;
    }

    &-container.cursor-pointer &-outer {
        --scale: 2;
    }

    &-container.cursor-disabled {
        opacity: 0;
    }

    &-outer,
    &-inner {
        position: fixed;
        z-index: 99999;
        mix-blend-mode: difference;
    }

    &-outer {
        opacity: 1;
        will-change: top, left;

        width: $size-outer;
        height: $size-outer;
        background-color: #fff;
        border-radius: $size-outer;
        transition: transform $transition-durations;
        transform: translate3d(-50%, -50%, 0) scale(var(--scale, 1));
    }

    &-inner {
        width: $size-inner;
        height: $size-inner;
        background-color: #fff1f2;
        border-radius: $size-inner;
        opacity: 1;
        transition: opacity $transition-durations;
        transform: translate3d(0, -0, 0) scale(var(--scale, 1));
    }
}
