// ::-webkit-scrollbar {
//     display: none;
// }

$scrollbar-px: 0;
$scrollbar-border-radius: 0;
$scrollbar-default-width: 8px + $scrollbar-px * 2;
$scrollbar-default-track-color: $color-back;
$scrollbar-default-thumb-color: rgba(#f20404, 1);
$scrollbar-default-thumbhover-color: rgba(#f20404, 1);

::-webkit-scrollbar {
    width: $scrollbar-default-width;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $scrollbar-default-track-color;
    box-shadow: none;

    // &:hover {
    // background-color: rgba(0,0,0,0.1) !important;
    // }
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $scrollbar-default-thumb-color;
    border: $scrollbar-px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: $scrollbar-border-radius;
    // border: 6px solid rgba(#000, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-default-thumbhover-color;
    background-clip: padding-box;
}
